<section class="flex flex-col md:flex-row gap-x-10 items-center justify-center px-8 md:px-0">

<div class="[&>p]:mb-6 [&>p]:text-lg [&>p>strong]:text-red-300 md:w-1/3 text-pretty">
  <p>
    Mi nombre es Juan Pablo comence en el maravilloso mundo de la programacion
    en el año 2020 cuando me encontraba estudiando Ingenieria Electrica,
    curiosamente la materia en la cual me destaque y me dejé envolver, fue <strong
      >Logica de Programacion y algoritmos
    </strong>
  </p>
  <p>
    En ese entonces me di cuenta que me apasionaba la programacion,debido a eso
    me cambie de carrera <strong>"Desarrollo de Software"</strong> la cual me ha
    ayudado a encontrar mi vocacíon , Claro está no me quede solo con mi carrera
    universitaria, adopte la <strong>metodologia de estudio autodidacta</strong>
  </p>
  <p>
    Siguiendo estás metodologás durante varios años he adquirido conocimientos
    los cuales me han permitido realizar algunos <em class="italic"
      >proyectos muy interesantes simulando problematicas de la vida real</em
    >
  </p>
</div>
<img src="/hombre-leon.webp" class="size-56 rounded-full" />
</section>
