<section
  class="flex flex-col md:flex-row gap-x-10 items-center justify-center px-8 md:px-0"
>
  <div
    class="[&>p]:mb-6 [&>p]:text-lg [&>p>strong]:text-red-300 md:w-1/3 text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Juan Pablo y comencé en el maravilloso mundo de la
      programación en el año 2020 mientras estudiaba Ingeniería Eléctrica.
      Curiosamente, la materia en la que me destacé y me dejé envolver fue <strong
        >lógica de programación y algoritmos</strong
      >.
    </p>
    <p>
      En ese entonces, me di cuenta de que me apasionaba la programación, lo que
      me llevó a cambiar de carrera a <strong>"Desarrollo de Software"</strong>.
      Esta decisión me ayudó a encontrar mi vocación. Por supuesto, no me quedé
      solo con mi carrera universitaria; adopté la <strong
        >metodología de estudio autodidacta</strong
      >.
    </p>
    <p>
      Siguiendo estas metodologías durante varios años, he adquirido
      conocimientos que me han permitido realizar algunos <em class="italic"
        >proyectos muy interesantes que simulan problemáticas de la vida real</em
      >.
    </p>
  </div>
  <img src="/juan-img.webp" class="size-56 rounded-full md:order-2" />
</section>
