<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_1s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#17bab800_0%,#21554E_50%,#17bab800_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-100 bg-[#17BAB8]/10 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
