<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_900ms_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#17bab800_0%,#21554E_50%,#17bab800_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-[1rem]  bg-[#17BAB8]/40 rounded-full cursor-pointer  text-white backdrop-blur-3xl whitespace-nowrap font-500 ]"
    >
      <slot />
    </div>
  </span>
</div>
