---
import ToolTip from "../components/ToolTip.astro";
import "../styles/global.css";
import BoxSckills from "./BoxSckills.astro";
import ItemsSkills from "./ItemsSkills.astro";

import { STACKSKILLS } from "../constants/skills.js";
---

<BoxSckills
  class="flex flex-col items-center relative rounded-2xl p-6 border border-zinc-400 shadow-2xl overflow-hidden"
>
  <slot />

  <ItemsSkills>
    {
      STACKSKILLS.filter((skill) => skill.tecnology == "FrontEnd").map(
        (stack) => (
          <li
            class="stack"
            style={{ "--background-dif": stack.color }}
            tool-tip
          >
            <p class="stack__name">{stack.name}</p>
            <ToolTip aria-hidden="true">{stack.name}</ToolTip>
            <span class={`icon-${stack.name}`} />
          </li>
        )
      )
    }
  </ItemsSkills>
</BoxSckills>
