<header
  class="flex justify-between items-center w-full lg:px-44 h-[80px] fixed z-10 bg-white/5 backdrop-blur-lg"
>
  <img src="text-rigth.svg" alt="logo" class="size-56 mt-4" />

  <nav class="lg:flex flex-row gap-x-10 opacity-90 hidden">
    <a
      href="#top"
      class="text-yellow-400 hover:text-white/90 hover:scale-110 hover:font-semibold duration-400"
      >Inicio</a
    >
    <a
      href="#projects"
      class="text-white/80 hover:text-yellow-400 hover:scale-110 hover:font-semibold duration-400"
      >Proyectos</a
    >
    <a
      href="#skills"
      class="text-white/80 hover:text-yellow-400 hover:scale-110 hover:font-semibold duration-400"
      >Tecnologias</a
    >
    <a
      href="/"
      class="text-white/80 hover:text-yellow-400 hover:scale-110 hover:font-semibold duration-400"
      >Contact</a
    >
  </nav>
</header>
