<header
  class="flex justify-between items-center w-full lg:px-44 h-[80px] fixed z-10 bg-white/5 backdrop-blur-lg "
>
  <img src="text-rigth.svg" alt="logo" class="size-56 mt-4" />

  <nav class="lg:flex flex-row gap-x-10 opacity-90 hidden">
    <a href="#top" >Inicio</a>
    <a href="#projects">Proyectos</a>
    <a href="#skills">Tecnologias</a>
    <a href="/">Contact</a>  